[package]
name = "sqlite-wasm-rs"
version = "0.1.5"
edition = "2021"
authors = ["Spxg <unsafe@outlook.es>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/Spxg/sqlite-wasm-rs"
description = "Wrap sqlite-wasm, and expect to provide a usable C-like API."
categories = ["development-tools::ffi", "wasm", "database"]
keywords = ["sqlite", "sqlite-wasm", "wasm", "webassembly", "javascript"]

[dependencies]
fragile = "2.0.0"
js-sys = "0.3.76"
once_cell = "1.20.2"
tokio = { version = "1.42.0", features = ["sync"] }
wasm-bindgen = "0.2.99"
wasm-bindgen-futures = "0.4.49"

serde = { version = "1.0.216", features = ["derive"], optional = true }
serde-wasm-bindgen = { version = "0.6.5", optional = true }
web-sys = { version = "0.3.77", optional = true, features = [
  "Performance",
  "Window",
  "Navigator",
  "StorageManager",
  "FileSystemSyncAccessHandle",
  "FileSystemDirectoryHandle",
  "FileSystemGetDirectoryOptions",
  "FileSystemReadWriteOptions",
  "SharedWorkerGlobalScope",
  "WorkerGlobalScope",
  "WorkerNavigator",
  "TextEncoder",
  "FileSystemGetFileOptions",
  "FileSystemFileHandle",
  "Url",
]}
thiserror = { version = "2.0.11", optional = true }

[features]
default = ["wrapper"]
wrapper = ["serde", "serde-wasm-bindgen"]
polyfill = ["web-sys", "thiserror"]

[target.'cfg(target_feature = "atomics")'.dependencies]
sqlite-wasm-macro = { path = "../sqlite-wasm-macro", version = "0.1.1" }

[dev-dependencies]
wasm-bindgen-test = "0.3.49"

[build-dependencies]
proc-macro2 = "1.0.92"
quote = "1.0.38"
syn = "2.0.92"
prettyplease = "0.2.29"

[package.metadata.docs.rs]
targets = ["wasm32-unknown-unknown"]

[lib]
crate-type = ["rlib", "cdylib"]

