[package]
name = "sqlite-wasm-rs"
version = "0.4.8"
links = "sqlite3"
edition = "2021"
authors = ["Spxg <unsafe@outlook.es>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/Spxg/sqlite-wasm-rs"
description = "`wasm32-unknown-unknown` bindings to the libsqlite3 library."
categories = ["development-tools::ffi", "wasm", "database"]
keywords = ["sqlite", "sqlite-wasm", "wasm", "webassembly", "javascript"]
rust-version = "1.78.0"
include = [
    'src/**/*.rs',
    'build.rs',
    'sqlite3/**/*.c',
    'sqlite3/**/*.h',
    'sqlite3mc/**/*.c',
    'sqlite3mc/**/*.h',
    'shim/**/*.h',
    'shim/**/*.c',
    'Cargo.toml',
    '/README.md',
    'LICENSE',
]

[dependencies]
once_cell = "1.21.3"
tokio = { version = "1.45.1", features = ["sync"] }
thiserror = "2.0.12"

wasm-bindgen = "0.2.104"
wasm-bindgen-futures = "0.4.54"
js-sys = "0.3.81"
web-sys = { version = "0.3.81", features = [
  "StorageManager",
  "FileSystemSyncAccessHandle",
  "FileSystemDirectoryHandle",
  "FileSystemGetDirectoryOptions",
  "FileSystemReadWriteOptions",
  "WorkerGlobalScope",
  "WorkerNavigator",
  "FileSystemGetFileOptions",
  "FileSystemFileHandle",
]}

indexed_db_futures = { version = "0.6.4", optional = true }

[features]
# SQLite3MultipleCiphers
# <https://github.com/utelle/SQLite3MultipleCiphers>
# <https://utelle.github.io/SQLite3MultipleCiphers>
sqlite3mc = []
relaxed-idb = ["indexed_db_futures"]

# Don't use it!
# This feature used to pass crates.io build!
__docsrs = []

[dev-dependencies]
wasm-bindgen-test = "0.3.54"
web-time = "1.1.0"

[build-dependencies]
cc = "1.2.27"
bindgen = { version = "0.72", optional = true }

[package.metadata.docs.rs]
features = ["__docsrs"]
targets = ["wasm32-unknown-unknown"]

[workspace]
resolver = "2"
members = [
  "crates/sqlite-wasm-libc",
  "extensions/sqlite-vec",
  "examples/implement-a-vfs",
  "examples/nodejs"
]
